.content-css1 span{
    font-weight: 800;
    font-size: 18px;
}
.content-css{
    margin-bottom:87px
}
.show-more-less-clickable{
    position: relative;
    z-index: 100000000!important;
    font-weight: 800;
}
.show-more-less-clickable1{
    position: relative;
    z-index: 100000000!important;
    font-weight: 800;
}
.sweetPagination{
    margin-top: 60px!important;
}
.price{
    margin-top: -60px;
    position: absolute;
}
.margin_top{
    margin-top: 100px;
}

@media only screen and (min-width:577px){
	
    .offset-lg-1{
        margin-left: 8.33333%!important;
    }
}
@media only screen and (min-width:992px){
	.offset-lg-1{
        margin-left: -0.666667%!important;
    }
}
/* .offset-lg-1{
    margin-left: 8.333333%!important;
}     */